<div class="container">
    <h2>Hive Section Category Products</h2>
    <table class="table table-nonfluid">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let hiveSectionCategoryProduct of hiveSectionCategoryProducts">
          <th scope="row">{{hiveSectionCategoryProduct.productId}}</th>
          <td>{{hiveSectionCategoryProduct.code}}</td>
          <td>{{hiveSectionCategoryProduct.name}}</td>
          <td>{{hiveSectionCategoryProduct.quantity}}</td>
          <td>
            <div *ngIf="!hiveSectionCategoryProduct.isApproved; then adminTools else userTools"></div>
            <ng-template #adminTools>
              <div class="btn-group mr-1" role="approve" aria-label="approve group">
                 <button type="button" class="btn btn-primary" (click)="onApproved(hiveSectionCategoryProduct.id)">Approve</button>
              </div>
              <div class="btn-group" role="deny" aria-label="deny group">
                 <button type="button" class="btn btn-danger" (click)="onDeny(hiveSectionCategoryProduct.id)">Deny</button>
              </div>
            </ng-template> 
            <ng-template #userTools>
              <div *ngIf="!hiveSectionCategoryProduct.isDeleted" class="btn-group mr-1" role="delete" aria-label="delete group">
                   <button type="button" class="btn btn-warning" (click)="onDelete(hiveSectionCategoryProduct.id)">Delete</button>
              </div>
              <div *ngIf="hiveSectionCategoryProduct.isDeleted" class="btn-group mr-1" role="restore" aria-label="restore group">
                  <button type="button" class="btn btn-success" (click)="onRestore(hiveSectionCategoryProduct.id)">Restore</button>
              </div>
              <div class="btn-group mr-1" role="purge" aria-label="purge group">
                 <button type="button" class="btn btn-danger" (click)="onPurge(hiveSectionCategoryProduct.id)">Purge</button>
              </div>
            </ng-template>             
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" aria-label="Action buttons">
      <div class="btn-group mr-1" role="group" aria-label="Back group">
        <button routerLink="/hive/{{hiveId}}/section/{{hiveSectionId}}/categories" type="button" class="btn btn-primary">Back</button>
      </div>
      <div class="btn-group" role="group" aria-label="Add group">
        <button routerLink="/hive/{{hiveId}}/section/{{hiveSectionId}}/category/{{hiveSectionCategoryId}}/avaliableProducts" type="button" class="btn btn-primary">Add available products</button>
      </div>
    </div>
  </div>
  